.instagramPic{
	width: 300px;
	height: 300px;
}

.imageDiv{
	width: 310px;
	height: 310px;
	border: 1px dashed black;
	display: inline-block;
	padding: 10px;
	margin: 5px;

}

.container{
	text-align: center;
}

.tagInput{
	width: 200px;
	height: 25px;
}

.searchBtn{
	height: 25px;
	width: 100px;
}